<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="postlist">Posts</a></li>
      <li><a routerLink="newpost">Nouveau Post</a></li>
    </ul>
  </div>
</nav>
