<div class="row">
  <div class="col-xs-12">
    <h1>Posts</h1>
    <ul class="list-group">
      <li *ngFor="let post of posts" [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
        <i class="date">{{post.created_at | date: 'dd/MM/yyyy, HH:mm' | uppercase}}</i>
        <h2 [ngStyle]="{color: getColor(post.id)}">{{ post.title }}</h2>
        <p>{{post.content}}</p>
        <button class="btn btn-success" (click)="Like(post.id)"><span class="glyphicon glyphicon-ok"></span>&nbsp;Like</button>
        &nbsp;
        <button class="btn btn-danger" (click)="Dislike(post.id)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Dislike</button>
        <button class="btn btn-danger" (click)="Delete(post.id)" style="float: right;"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Supprimer</button>
      </li>
    </ul>
  </div>
</div>
